<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Albums</h1>
<nav>
    <ul>
        <li><a href="albums">Albums</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="song">Songs</a></li>
    </ul>
</nav>
<ul th:each="potato : ${albums}">
   <li th:text="${potato.title}">

   </li>
    <li th:text="${potato.artist}">

    </li>
    <li th:text="${potato.songCount}">

    </li>
    <li th:text="${potato.length}">

    </li>
    <li>
        <a th:href="'/albums/' +${potato.id}">More details</a>
    <img th:src="${potato.imageUrl}" class="albumArt">

    </li>

</ul>
<form action="/albums" method="POST">
    <fieldset>
        <legend>Add Album</legend>
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="artist">Artist</label>
        <input type="text" name="artist">
        <label for="songCount">Song Count</label>
        <input type="text" name="songCount">
        <label for="length">Length (Seconds)</label>
        <input type="text" name="length">
        <label for="imgUrl">Image Url</label>
        <input type="text" name="imgUrl">
        <input type="submit" value="Add Album">
    </fieldset>
</body>
</html>